.services {
  background: linear-gradient(180deg, #000, #222831);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.servicesTextContainer {
  flex: 1;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.servicesTextContainer > p {
  font-weight: 200;
  font-size: 20px;
  color: gray;
  text-align: right;
}

.servicesTextContainer > hr {
  width: 500px;
  border: none;
  border-top: 0.5px solid gray;
}

.titleContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 50px;
}

.title > h1 {
  font-size: 84px;
  font-weight: 100;
}

.title > button {
  width: 300px;
  height: 100px;
  border-radius: 50px;
  background-color: orange;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.titleContainer > .title > img {
  width: 500px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
}

.listContainer {
  flex: 2;
  display: flex;
  max-width: 1366px;
  margin: auto;
}

.listContainer > .box {
  padding: 50px;
  margin-bottom: 0.5%;
  border: 0.5px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.box > h2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 100;
}

.box > h2 > span {
  color: orange;
  margin: 0;
  width: max-content;
}

.box > button {
  padding: 10px;
  background-color: orange;
  border: none;
  cursor: pointer;
}

@media (max-width: 738px) {
  .servicesTextContainer {
    align-self: flex-end;
    text-align: center;
    flex-direction: column;
    margin-top: 8%;
  }
  .servicesTextContainer > hr {
    width: 300px;
  }
  .titleContainer {
    width: 100%;
  }
  .title {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .title > h1 {
    font-size: 36px;
  }
  .titleContainer > .title > img {
    width: 200px;
    height: 50px;
  }
  .title > button {
    font-size: 16px;
    width: 150px;
    height: 50px;
  }
  .listContainer {
    flex-direction: column;
    width: 100%;
  }
  .box > p {
    display: none;
  }
  .listContainer > .box {
    border: none;
    align-items: center;
    gap: 20px;
    padding: 15px;
  }
  .box > button {
    /* background-color: transparent;
    border: 1px solid orange;
    border-radius: 5px;
    color: orange;
    width: 50%;
    padding: 5px; */
    display: none;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .servicesTextContainer {
    align-self: flex-end;
    text-align: center;
    flex-direction: column;
    margin-top: 8%;
  }
  .servicesTextContainer > hr {
    width: 300px;
  }
  .titleContainer {
    width: 100%;
  }
  .title {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  .title > h1 {
    font-size: 36px;
  }
  .titleContainer > .title > img {
    width: 200px;
    height: 50px;
  }
  .title > button {
    font-size: 16px;
    width: 150px;
    height: 50px;
  }
  .listContainer {
    flex-direction: column;
    width: 100%;
  }
  .box > p {
    /* display: none; */
  }
  .listContainer > .box {
    /* border: none; */
    align-items: center;
    gap: 20px;
    padding: 15px;
  }
  .box > button {
    /* background-color: transparent;
    border: 1px solid orange;
    border-radius: 5px;
    color: orange;
    width: 50%;
    padding: 5px; */
    display: none;
  }
}

@media (max-width: 1366px) and (min-width: 1024px) {
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px !important;
    margin: auto;
  }
  .listContainer > .box {
    padding: 20px;
    margin-bottom: 0.5%;
    border: 0.5px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }
}
